.selectbtn {
    background-color: white; 
    color: limegreen; 
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    max-height: 40px;
    min-width: 54px;
    border: 2px solid limegreen;
  }
  
  .selectbtn:hover {
    background-color: #2980b9; 
  }

.container {
    margin-bottom: 20px;
  }
  

  select {
    min-width: 130px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 37px;
  }
  .PTT {
    height: 120px;
    width: 300px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  .size{
    width: 80px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 35px;
  }
  
  .submit{
    background-color: limegreen; 
    color: white; 
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    max-height: 35px;
} 
.container {
    margin-bottom: 20px;
  }
  
  select {
    width: 80px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  
  .AdminHeader {
    height: 64px; 
    min-height: 64px;
    max-height: 64px;
    margin: auto;
  }
  
 
  .AdminFooter {
    height: 64px; 
    min-height: 64px;
    margin: auto;
    
  }
  

  .PromotionalText {
    max-height: 512px;
    
  }
  .bubble-container {
    position: relative;
  }
  
  .bubble {
    background-color: yellow;
    border-radius: 8px;
    padding: 10px;
    max-width: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    min-height: 120px; /* 최소 높이 설정 */
  }
  
  .bubble::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #f1f1f1 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -10px;
    right: 10px;
  }

  