/* AllActivityLog의 전체 화면 쪽 */
.searchActivitiLog {
  height: 128px;
  background-color: blanchedalmond;
}

.userActivitiLog {
  height: 384px;
  /* 화면 비율 차 background-color: aqua; */
}

.activitiLogButtons {
  height: 20%;
  /* 화면 비율 차 background-color: paleturquoise; */
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  padding: row;
}

.activitiLog {
  height: 80%;
  /* 화면 비율 차 background-color: greenyellow; */
}

/* SearchActivitiLog.jsx css */

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  margin-right: 50%;
}

.searchButton
{
  background-color: #A7DDA7;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  max-height: 30px;
  line-height: 10px;
}

#start-date,#end-date
{
  height: 5px;
  
}

.searchDate{
  margin-top: 16px;
}

/* SearchActivitiLog.jsx css */
.userCategory{
  width: 10px;
}

.searchBar {
  width: 175px;
}

.userSearch {
  max-height: 10px;
  margin-top: 17px;
}

/* ActivitiLog.jsx css */

.moreButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.activitiTable {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  
  font-size: 15px;
}

th,
td {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
}

/* ActivitiLogButton.jsx css */
.modifyLog,
.deleteLog
{
  margin-top: 40px;
}

.modifyButton,
.deleteButton
{
  background-color: #A7DDA7;
  /* background-color: limegreen; */
  color: white;
  border: none;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  max-height: 30px;
  line-height: 10px;
}