 
 .searchActivitiLog {
    height: 128px;
    background-color: blanchedalmond;
  }

  .userActivitiLog{
    height: 384px;
    background-color: aqua;
  }
  
  .activitiLogButtons{
    height: 10%;
    background-color: paleturquoise;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    
  }

  .activitiLog{
    height: 90%;
    background-color: greenyellow ;
  }



  