.userCountTowelHeader{
    height: 64px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(167, 221, 167);
}

.UserCountTowelMain{
    height: 384px;
    border: 1px solid white;
}

.UserCountTowelResult{
    height: 64px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.UserCountTowelButtons{
    height: 64px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.UserCountTowelLogCheck{
    height: 64px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
/* 사진들어오는곳 */
.UserCountTowelImage{
    height: 300px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.UsesrCountTowelCamera{
    height: 84px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
}
.cameraImage{
    height: 60px;
}

.uploadButton{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
} 
.uploadButton:hover{
    background-color: rgb(169, 231, 169);
}


.checkResultButton{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    border-left: 1px solid gray;
}

.checkResultButton:hover{
    background-color: rgb(169, 231, 169);
}

.avatarLogo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.uploadButton input[type="file"] {
    border: none; /* 테두리 없애기 */
    outline: none; /* 포커스 테두리 없애기 */
    font-size: 0; /* 글자 크기를 0으로 설정하여 텍스트 숨기기 */
  }
  
  .uploadButton input[type="file"]::-webkit-file-upload-button {
    font-size: 0; /* 크롬 브라우저에서의 파일 업로드 버튼에 대한 스타일링 */
  }
  
  .checkResultButton p {
    margin: 0; /* 내부 여백 없애기 */
  }