/* UserActivityLogPage 전체 화면 */
.userLogDate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 92px;
  margin-bottom: 25px;
}

.userLogList {
  height: 512px;
}

.userLogListTable {
  overflow: auto;
  scroll-snap-type: both mandatory;
  height: 80%;
  /* 화면 비율 차 background-color: aqua; */
}

/* UserLogDate.jsx css 부분 */
.userLogDate > div {
  margin-top: 20px; /* 위쪽 간격을 더 크게 설정합니다. */
}

.dateSearch {
  padding: 12px 24px; /* 패딩을 조금 더 넉넉하게 설정합니다. */
  font-size: 12px; /* 폰트 크기를 조금 크게 설정합니다. */
}

/* UserLogListTable.jsx css 부분 */
table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
}

/* UserLogListTable 부분 */
.slide-closed {
  height: 0;
  display: none;
  transition: height 0.3s ease-out;
}

.slide-open {
  height: auto;
  transition: height 0.3s ease-in;
}

