/* UserActivityLogPage 전체 화면 */
.userLogDate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
  /* 화면 비율차 background-color: aquamarine; */
}

.userLogList {
  height: 512px;
}

.userLogListTable {
  overflow: auto;
  scroll-snap-type: both mandatory;
  height: 80%;
  /* 화면 비율 차 background-color: aqua; */
}

/* UserLogDate.jsx css 부분 */
.userLogDate > div {
  margin-top: 20px; /* 위쪽 간격을 더 크게 설정합니다. */
}

.startUserDate,
.endUserDate {
  height: 40px;
  width: 46%;
  justify-content: center; /* 수평 가운데 정렬합니다 */
  align-items: center; /* 수직 가운데 정렬합니다 */
}

.dateSearch {
  background-color: #A7DDA7;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  height: 40px;
  line-height: 10px;
}

/* UserLogListTable.jsx css 부분 */
.userListTable {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

.userLogListTh,
.userLogListTd {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
}

/* UserLogListTable 부분 */
.userActivity-slide-closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.userActivity-slide-open {
  height: 300px;
  max-height: 300px; /* 원하는 크기로 설정하세요 */
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}
