.dashboard{
  height: 576px;
}
.chartTable{
    top: 240px;
    left: 20px;
    position :absolute;
    overflow-y: scroll; 
    max-height: 300px;
  }
.chartTable h3{
    margin-left: 20px;
  }
  
  .percent {
    top: 90px;
    left: 30px;
    position :absolute;
    display:flex;
    flex-wrap: wrap;
  }
  
  .percent>div {
    background-color: rgb(248, 244, 244);
    border-radius: 10px;
    margin: 5px;
    height: 60px;
    width: 140px;
  }
  
  .percent>div div {
    align-items: center;
    border-radius: 5px;
    text-align: center;
    color: black;
  
  }
  .percent>div div:nth-child(1){
    font-size: 15px;
  }
  .percent>div div:nth-child(2){
    font-size: 22px;
  }
  
  .setTime {
    display:flex;
    margin-left: 190px;
     
  }
  .setTime *{
    width: 50px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
  
  }
  .setTime .black{
   color: black;
  }
  .setTime .gray{
   color: gray;
  }
  
  .chart{
    margin-bottom: 30px;
  }
