/*footer, header*/
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
*{
  font-family: 'SUITE-Regular';
}



/***********************************/


.UserHeader div{
  margin-left: 120px;
}
.UserHeader h3{
  margin-left: 165px;
}

/************************************/
.AdminHeader,
.AdminFooter,
.UserHeader{
  color: black;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 64px;
  display: flex;
}
.AdminHeader,
.UserHeader{
  background-color: rgba(50,205,50);
  height : 64px;
  top: 0;
  z-index: 2;
 
  
}

.AdminFooter {
  bottom: 0;
  height: 10%;
  background-color: white;
}


.menu-button {
  top: 0;
  height: 50%;
  margin-right: 110px;
}

.notification{
  z-index: 3;
  
}

.AdminHeader>div{
  margin-left: 80px;
  justify-content: space-between;
}

.AdminHeader h3{
  margin-left: 15px;
}

.AdminHeader img,
.UserHeader img {
  margin-top: 10px;
  width: 40px;
  height: 40px;

  display: inline-block;
  cursor: pointer;
}

.tooltip, .tooltip2, .tooltip3 {
  top: 66px;
  right: 5px;
  visibility: visible;
  position: absolute;
  background-color: #333;
  border-radius: 15px;
  padding: 8px;
  font-size: 14px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.tooltip {
  width: 200px;
  height: 100px;
  
}

.tooltip2 {
  width: 150px;
 
}
.tooltip3 {
  width: 150px;
  
}

.tooltip3 button,
.tooltip2 button,
.tooltip button {
  
  width: 90%;
  height: 40px;
  border-radius: 15px;
  
}

.tooltip button{
  position: absolute;
  bottom: 10px;
}



.menu-close {
  width: 0px;
  margin-top: -200px;
  margin-left: 150px;
  transition: margin-top 1s;
  position: fixed;

  
}

.menu-close div {
  display: none;
}


.menu-open {
  top: 64px;
  margin-left: 0px;
  border-bottom-right-radius: 20px;
  background-color: rgb(232, 243, 237);
  width:  150px;
  height: 220px;
  transition: margin-top 1s;
  position: fixed;
  z-index: 1;
}
.menu-open div{
  
  font-size: 18px;
  border-bottom: 1px solid rgb(201, 199, 199);
  height: 30px;
  font-family: 'SUITE-Regular';
  align-items: center;
}


.menu-button {
  border: none;
  cursor: pointer;
}


.AdminFooter>div {

  align-items: center;
  justify-content: center;
  width: calc(100% / 5);
  height: 100%;
  box-sizing: border-box;
  border-radius: 10%;
}

.AdminFooter img{
  
  width: 38px;
  height: 38px;
}
.AdminFooter p{
  font-size: x-small;
}
.AdminFooter .gray{
  color: gray;
}
.AdminFooter .black{
  color: rgba(50,205,50);
}



/* 로그인 페이지!!!!!! */
.loginPageContainer {
  justify-content: center;
  text-align: center;
  align-items: center;

}

.userHeader {
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.localLogin {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.snsLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.loginIdInput{
  width: 200px;
  height: 40px;
  margin-bottom: 5px;
  border-color: limegreen;
  border-width: 2px;
}
.loginPwInput{
  width: 200px;
  height: 40px;
  border-color: limegreen;
  border-width: 2px;
  margin-bottom: 5px;
}

/* 회원가입 페이지 */
.signUpHeader {
  height: 96px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: left;
}

.signUpHeader span {
  font-size: 0.5em;
  /* 원하는 글자 크기 설정 */
  margin: 0px 0;
  /* 간격 조절 */
  color:gray;
  /* 글자색을 초록색으로 설정 */
  font-weight: bold;
}

.signUpHeader h2 {
  color: rgb(60, 158, 60);
}

.signUpUser {
  height: 544px;
}

.signUpInput {
  height: 470px;
  width: 80%;
  margin: auto;
}

.signup-form {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px;  */
  /* 각 입력란 간격 조절 */
}

.input-label {
  font-size: 0.8em;
  /* 레이블 글자 크기 작게 설정 */
  color: gray;
  /* 레이블 글자색 회색으로 설정 */
}

.input-field {
  border: none;
  border-bottom: 1px solid gray;
  /* 밑줄 추가 */
  padding: 5px;
  font-size: 1em;
  /* 입력 필드 글자 크기 설정 */
  /* margin-top: 5px;  */
  /*입력 필드 위 여백 조절 */
  margin-bottom: 10px;
}

.departPosition {
  display: flex;
}

/**************************************/
.AdminHome {
  top: 60px;
  position: absolute;
  
}

.AdminHome img, .AdminHome>div div {
  height: 75px;
  width : 75px;
  text-align: center;
}
.AdminHome>div div:nth-child(2){
  margin-left: 80px;
}

.AdminHome>div {
  justify-content: center;
  align-items: center;
  margin-left: 65px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.AdminHome p {
  margin: 0;
}

/**************************************/
.chartTable{
  top: 240px;
  left: 40px;
  position :absolute;
  padding-bottom: 100px;
}

.percent {
  top: 90px;
  left: 40px;
  position :absolute;
  display:flex;
  flex-wrap: wrap;
}

.percent>div {
  /* border: solid black 1px; */
  background-color: rgb(248, 244, 244);
  border-radius: 10px;
  margin: 5px;
  height: 60px;
  width: 130px;
}

.percent>div div {
  align-items: center;
  /* background-color: darkgreen; */
  border-radius: 5px;
  text-align: center;
  color: black;

}
.percent>div div:nth-child(1){
  font-size: 15px;
}
.percent>div div:nth-child(2){
  font-size: 22px;
}

.setTime {
  display:flex;
  margin-left: 180px;
   
}
.setTime *{
  width: 50px;
  text-align: center;
  margin: 5px;
  border-radius: 5px;

}
.setTime .black{
 color: black;
}
.setTime .gray{
 color: gray;
}

.chart{
  margin-bottom: 30px;
}

/*************************************/
.TowelCountMain {
  top : 100px;
  position: fixed;
}

.uploadImage {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 10px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.uploadImage img {
  width: 280px;
  height: 280px;
}

.userActivity {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgb(28, 174, 125);
  width: 100%;
  height: 10%;
  bottom: 0;
  position: fixed;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.upload {
  position: fixed;
  left: 100px;
  bottom: 120px;
}

.upload button {
  color: white;
  background-color: rgb(2, 153, 103);
  border-radius: 15px;
  width: 100px;
  height: 50px;
  margin-left: 2ch;
  border-style: none;
}

.green{
  color: greenyellow;
  text-align: center;
  border-color: greenyellow;
}

.red{
  color: red;
  text-align: center;
  border-color: red;
}

/***************************************/
/* 사용자 관리 */
.SearchUser{
  height: 15%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}
.SearchUser *{
  margin-top: 20px;
}

.SearchUser select {
  height: 36px;
  width: 100px;
}

.SearchUser input {
  height: 34px;
  width: 140px;
}

.SearchUser button {
  height: 32px;
  width: 50px;
} 

.UserInfo {
  margin-bottom: 100px;  
}
.UserInfo h2 {
  margin-top: 20px;
  margin-left: 20px;
}


.UserInfo table {
  text-align: center;
  margin-left: 20px;
}

.UserInfo th {
  width: 106px;
  background-color: #333;
  color: aliceblue;
  border-radius: 6px;
}

.UserInfo tbody tr:hover {
  color: rgb(46, 199, 148);
}


.signUpButton {
  height: 15%;
  text-align: center;
}

#signUpDepartment,
#signUpPosition {
  font-size: 0.6rem !important;
  width: 105px;
  color: rgb(190, 182, 182);
}

.user-info-popup {
  background-color: #333;
  color: aliceblue;
  position: fixed;
  top: 250px;
  left: 20px;
  width: 320px;
  text-align: center;
  font-size: 15px;
}
.user-info-popup td:nth-child(1), 
.user-info-popup td:nth-child(3) {
  color: aquamarine;
}

.user-info-popup table{
  width: 90%;
}
.user-info-popup Button{
  margin: 10px;
  margin-top: -10px;
}

.joinButton {
  color: limegreen;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.UserModify {
  height: 512px;
  
}

.UserModify h2 {
  margin-top: 40px;
  margin-left: 20px;
}

.UserModify table {
  margin: 20px;
  margin-left: 20px;
  width: 90%
}
.UserModify td {
  height: 56px;
  font-size: 18px;
  text-align: center;
}
.UserModify td:first-child {
  font-size: 20px;
  text-align: left;
}
.UserModify select {
  height: 40px;
  width: 120px;
  text-align: center;
}

.UserModify div div{
  margin-left: 180px;
}

.UserModify Button{
 margin-left: 15px;
}


/* ///////////////////////////////////////////////////////// */
/* 관리자 - 일정관리 페이지 !!!! */
.message p {
  font-size: 12px;
}
.message div:nth-child(2) {
  margin-left: 20%;
}
.message div:nth-child(4) {
  margin-left: 70%;
}

.balloon {
  background-color: #6495ed;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 80%;
}

.balloon2 {
  background-color: #5cdb95;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 20%;
  width: 80%;
}

.chatRoom {
  margin-top: 20px;
  background-color: #ADD8E6;
  height: 500px;
  color: white;
}
.chatRoom>p {
  padding-top: 10px;
  text-align: center;
}